.DS_Store
Gemfile.lock

# Ignore all configuration files
config/config.rb
config/database.rb
config/unicorn.rb

# Ignore all log files
log/database/dev/*.log
log/database/live/*.log
log/unicorn/*.log
log/nginx/*.log

tmp/*
!tmp/.gitkeep
