# Configuration

redcarpet_options = {
  :renderer => CustomRedcarpet,
  :options  => {
    :tables             => true,
    :fenced_code_blocks => true,
    :strikethrough      => true
  }
}

haml_options = {
  :format => :html5,
  :ugly   => true
}

partials = ['_head', '_header']
layouts  = ['default', 'home']

# Static files.

compile '/stylesheets/*' do
  filter :sass, :syntax => :scss, :style => :compressed
end

# Articles

compile '/articles/*' do
  filter :redcarpet, redcarpet_options
  filter :colorize_syntax
  layout 'default'
end

compile '/404' do
  filter :redcarpet, redcarpet_options
  layout 'default'
end

compile '/' do
  filter :redcarpet, redcarpet_options
  filter :haml, haml_options
  layout 'home'
end

compile '/feed' do
  filter :erb
end

compile '*' do
  nil
end

# Routes

route '/stylesheets/*' do
  item.identifier.chop + '.css'
end

route '/feed' do
  '/feed.xml'
end

route '/404' do
  '/404.html'
end

route '*' do
  if item.binary?
    rep.item.identifier.chop + '.' + item[:extension]
  else
    rep.item.identifier + 'index.html'
  end
end

# Layouts

layouts.each do |file|
  layout file, :haml, haml_options
end

partials.each do |file|
  layout file, :haml, haml_options
end

# vim: set ft=ruby:
