# Configuration
require_relative 'lib/nanoc/extra/deployers/amazon_s3'

kramdown_options = {
  :parse_block_html => true,
  :auto_ids         => true,
  :auto_id_prefix   => 'header-'
}

haml_options = {
  :format => :html5,
  :ugly   => true
}

layouts = %w{default home _head _header}

# Static files.

compile '/stylesheets/*' do
  filter :sass, :syntax => :scss, :style => :compressed
end

# Articles

compile '/articles/*' do
  filter :kramdown, kramdown_options
  filter :colorize_syntax, :default_colorizer => :rouge
  layout 'default'
end

compile '/404' do
  filter :kramdown, kramdown_options
  layout 'default'
end

compile '/' do
  filter :kramdown, kramdown_options
  layout 'home'
end

compile '/feed' do
  filter :erb
end

compile '*' do
  nil
end

# Routes

route '/stylesheets/*' do
  item.identifier.chop + '.css'
end

route '/feed' do
  '/feed.xml'
end

route '/404' do
  '/404.html'
end

route '*' do
  if item.binary?
    rep.item.identifier.chop + '.' + item[:extension]
  else
    rep.item.identifier + 'index.html'
  end
end

# Layouts

layouts.each do |file|
  layout(file, :haml, haml_options)
end

# vim: set ft=ruby:
