ul
{
    margin-left: 20px;

    li
    {
        list-style-type: disc;

        ul
        {
            margin-bottom: 0px;

            li
            {
                list-style-type: circle;
            }
        }
    }
}

ol
{
    margin-left: 25px;

    li
    {
        list-style-type: decimal;
    }
}

ul.plain,
ul.plain li,
ol.plain,
ol.plain li
{
    list-style-type: none;
    margin-left: 0px;
}
