// Generic variables.
$text: #000;
$link: #5E9419;
$link_hover: #456E12;
$font: Georgia, Verdana, Arial, sans-serif;

// Various variables for code blocks.
$code_background: #292929;
$code_color: #f3f2cc;
$code_font: "DejaVu Sans Mono", monospace;
$keyword: #eb5d49;
$function: #cbc983;
$ivar: #7895b7;
$symbol: #e8a75c;
$string: #92af72;
$number: #b3ebbf;
$comment: #6b6b6b;
$regexp: #e8a75c;
$error: #eb5d49;
