@import 'variables';

.align-right
{
    text-align: right;
}

.meta
{
    font-size: 14px;
}

// Styles primarily taken from the default YARD stylesheet.
.note
{
    background: #ffffc5;
    border: 1px solid #ececaa;
    margin-bottom: $margin_bottom;
    padding: 10px;
}

.note p:last-child
{
    margin-bottom: 0px;
}
