table
{
    margin-bottom: $margin_bottom;

    th {
      border-bottom: 1px solid #eee;
    }
}

.articles-index
{
    .time
    {
        color: lighten($text, 40%);
        max-width: 80px;
    }

    @media only screen and (max-width: 660px)
    {
        .time
        {
            display: none;
        }
    }
}
