@import 'variables';

@font-face
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'),
      local('OpenSans'),
      url('../fonts/open-sans-v13-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/open-sans-v13-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'),
    local('OpenSans-SemiBold'),
    url('../fonts/open-sans-semi-bold.woff2') format('woff2');
}

h1, h2, h3, h4, h5, h6
{
    font-weight: 600;
    margin-bottom: 5px;
}

h1
{
    font-size: 36px;
}

h2
{
    font-size: 32px;
}

h3
{
    font-size: 26px;
}

h4
{
    font-size: 20px;
}

p, ul, ol, blockquote
{
    margin-bottom: $margin_bottom;
}

a
{
    color: $link;
    text-decoration: none;
}

a:hover
{
    color: $link_hover;
    text-decoration: underline;
}

blockquote
{
    border-left: 5px solid #ddd;
    color: #666;
    font-style: italic;
    margin-bottom: $margin_bottom;
    padding: 5px 5px 5px 10px;
}

blockquote p
{
    margin-bottom: 0px;
}

time
{
    font-size: 14px;
}

em
{
    font-style: italic;
}

pre {
    background: none;
    color: $code_color;
    font-family: $code_font;
    font-size: 14px;
    margin-bottom: $margin_bottom;
    padding: 0px 0px 0px 30px;
    white-space: pre-wrap;
}

p code,
li code {
    background: #fff;
    border-radius: 5px;
    border: 2px solid #eee;
    color: $code_color;
    font-family: $code_font;
    font-size: 14px;
    padding: 3px;
}
