// Generic variables.
$text: #000;
$link: #0c52bb;
$link_hover: lighten($link, 20%);
$link_visited: adjust-hue($link, 55deg);
$link_visited_hover: lighten($link_visited, 20%);
$font: 'Open Sans', sans-serif;
$margin_bottom: 20px;

// Various variables for code blocks.
$code_color: #4d4d4c;
$code_font: monospace;
$keyword: #eb5d49;
$function: #cbc983;
$ivar: #7895b7;
$symbol: #e8a75c;
$string: #92af72;
$number: #b3ebbf;
$comment: #6b6b6b;
$regexp: #e8a75c;
$error: #eb5d49;
