!!!
%html{ lang: 'en' }
  %head
    = partial('head',
      locals: { keywords: current_page.data.tags,
                description: current_page.data.description })

  %body.home
    = partial('header')

    .row.content
      %section
        %header
          %h1 About Me

        %img.profile-photo{ src: '/images/profile_photo.jpg',
          width: '150', height: '180', alt: 'A photo of Yorick' }

        = yield

        %h2#header-articles Articles

        = partial('articles', locals: { articles: blog('blog').articles })
