!!!
%html{ lang: 'en' }
  %head
    = partial('head',
      locals: { keywords: current_page.data.tags,
                description: current_page.data.description,
                canonical: current_page.url,
                page_title: current_page.data.title })

  %body
    = partial('header')

    .row.content
      %section
        %header
          %h1= current_page.data.title
        = yield
