:root {
  --border-radius: 3px;
  --code-font: monospace;
  --font: sans-serif;
  --margin: 20px;

  --black: #000;
  --blue: #0c52bb;
  --border: #bbb;
  --dborder: #555;
  --comment: #666;
  --dgrey: #ddd;
  --dyellow: #e1c05e;
  --green: #1c5708;
  --lgrey: #f7f7f7;
  --link-hover: #3b84f2;
  --orange: #a55000;
  --purple: #5c21a5;
  --quote: #555;
  --white: #fff;
  --yellow: #fff8d5;
  --lblue: #eaf2ff;
  --dblue: #95b4e1;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: var(--font);
  font-size: 16px;
  line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a:hover, a:active {
  outline: none;
}

strong {
  font-weight: bold;
}

small {
  font-size: 11px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.5;
  margin: 5px 0px;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 30px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}

p,
ul,
ol,
blockquote {
  margin-bottom: var(--margin);
}

a {
  color: var(--blue);
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

blockquote {
  color: var(--quote);
  font-style: italic;
  margin: 0 0 var(--margin) var(--margin);
}

blockquote *:last-child {
  margin-bottom: 0;
}

time {
  font-size: 14px;
}

em {
  font-style: italic;
}

pre {
  font-family: var(--code-font);
  font-size: 12px;
  line-height: normal;
  margin: 0 0 var(--margin) var(--margin);
  overflow-x: scroll;
  white-space: pre;
}

p code,
li code,
table code {
  background: var(--white);
  border: 1px solid var(--dgrey);
  border-radius: 5px;
  font-family: var(--code-font);
  padding: 0 5px 0px 5px;
}

.highlight .k {
  font-weight: bold;
}

.highlight .s,
.highlight .s1,
.highlight .s2 {
  color: var(--green);
}

.highlight .ss {
  color: var(--orange);
}

.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .il {
  color: var(--blue);
}

.highlight .c,
.highlight .cp,
.highlight .cm,
.highlight .cs,
.highlight .c1 {
  color: var(--comment);
}

.highlight .vi {
  color: var(--purple);
}

ul {
  margin-left: 20px;
}

ul li {
  list-style-type: disc;
}

ul li ul {
  margin-bottom: 0;
}

ul li li {
  list-style-type: circle;
}

ol {
  margin-left: 20px;
}

ol li {
  list-style-type: decimal;
}

table {
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  margin-bottom: var(--margin);
}

table th,
table td {
  border-bottom: 1px solid var(--border);
  padding: 5px;
  text-align: left;
}

table th {
  background: var(--lgrey);
}

table tr:last-child td {
  border-bottom: 0;
}

.profile-photo {
  border: 1px solid var(--dborder);
  border-radius: var(--border-radius);
  display: none;
  float: right;
  margin-left: 20px;
}

@media only screen and (min-width: 750px) {
  .profile-photo {
    display: inline;
  }
}

.meta {
  font-size: 14px;
}

.admonition {
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  margin-bottom: var(--margin);
  padding: 10px;
}

.admonition.discuss {
  background: var(--lgrey);
}

.admonition.info {
  background: var(--lblue);
  border-color: var(--dblue);
}

.admonition.note {
  background: var(--yellow);
  border: 1px solid var(--dyellow);
}

.admonition .icon {
  line-height: 1;
  margin-right: 10px;
  height: 32px;
  width: 32px;
  min-width: 32px;
}

.admonition .text {
  align-self: center;
}

.admonition p:last-child {
  margin-bottom: 0;
}

.articles-index {
  border: 0;
  border-radius: 0;
  font-size: 14px;
}

.articles-index td,
.articles-index th {
  border: none;
  padding: 0;
}

@media only screen and (max-width: 660px) {
  .articles-index .time {
    display: none;
  }
}

.top {
  font-size: 16px;
  margin: var(--margin) 0;
}

.top nav ul {
  border-bottom: 1px solid var(--dgrey);
  margin: 0;
  padding-bottom: var(--margin);
  text-align: center;
}

.top nav li {
  display: inline-block;
  list-style-type: none;
  margin-right: var(--margin);
}

.top nav li:last-child {
  margin-right: 0;
}

.top nav li a {
  color: var(--black);
}

@media only screen and (max-width: 350px) {
  .top nav .feed {
    display: none;
  }

  .top nav li:nth-child(2) {
    margin-right: 0;
  }
}

.content,
.top {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 0 15px;
}

.article header {
  text-align: center;
}

.article header time {
  display: block;
  margin-bottom: var(--margin);
}

.article img {
  border: 1px solid var(--dborder);
  border-radius: var(--border-radius);
  max-width: 100%;
}

del {
  text-decoration: line-through;
}

.footnotes {
  border-top: 1px solid var(--border);
  color: var(--quote);
  font-size: 0.8rem;
  padding-top: var(--margin);
}

.footnotes li:target {
  color: var(--black);
}

sup {
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  top: -0.4rem;
  vertical-align: baseline;
}

sub {
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  top: 0.2rem;
  vertical-align: baseline;
}

/* Icons generated using https://iconify.design/, using the Tabler set */
.icon {
  height: 1.2rem;
  margin-right: 5px;
  vertical-align: text-top;
  width: 1.2rem;
}

.icon.home {
  display: inline-block;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M5 12H3l9-9l9 9h-2M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-7'/%3E%3Cpath d='M9 21v-6a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2v6'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.icon.briefcase {
  display: inline-block;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M3 9a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2zm5-2V5a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2m-4 5v.01'/%3E%3Cpath d='M3 13a20 20 0 0 0 18 0'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.icon.rss {
  display: inline-block;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 19a1 1 0 1 0 2 0a1 1 0 1 0-2 0M4 4a16 16 0 0 1 16 16M4 11a9 9 0 0 1 9 9'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.admonition.info .icon {
  display: inline-block;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M3 12a9 9 0 1 0 18 0a9 9 0 0 0-18 0m9-3h.01'/%3E%3Cpath d='M11 12h1v4h1'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.admonition.note .icon {
  display: inline-block;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m13 20l7-7m-7 7v-6a1 1 0 0 1 1-1h6V6a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.admonition.discuss .icon {
  display: inline-block;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7 10h10m-8 4h5M12.4 3a5.34 5.34 0 0 1 4.906 3.239a5.333 5.333 0 0 1-1.195 10.6a4.26 4.26 0 0 1-5.28 1.863L7 21v-3.134a2.668 2.668 0 0 1-1.795-3.773A4.8 4.8 0 0 1 8.113 5.16A5.33 5.33 0 0 1 12.4 3'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

@media print {
  header.top {
    display: none;
  }

  .content {
    max-width: 100%;
  }

  .page-break {
    break-after: page;
  }
}
