@font-face {
  font-family: 'icons';
  src: url('/fonts/icons.woff2?v=2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\f015";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-comments:before {
  content: "\f086";
}
.icon-feed:before {
  content: "\f09e";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-newspaper-o:before {
  content: "\f1ea";
}
