/**
 * Stylesheet used for the main layout of the website.
 *
 * @author Yorick Peterse
 * @since  03-05-2011
 */

body
{
    color:       #000;
    font-family: Georgia, Verdana, Arial, sans-serif;
    font-size:   16px;
    line-height: 1.6;
}

/* Headings */
h1, h2, h3, h4, h5, h6
{
    font-weight:   normal;
    margin-bottom: 5px;
}

h1
{
    font-size: 32px;
}

h2
{
    font-size: 28px;
}

h3
{
    font-size: 24px;
}

h4
{
    font-size: 20px;
}

/* General text elements */
p, ul, ol, pre, blockquote
{
    margin-bottom: 20px;
}

p
{
    text-align: justify;
}

a
{
    color: #5E9419;
}

a:hover
{
    color: #456E12;
}

/* List elements */
ul
{
    margin-left: 20px;
}

    ul li
    {
        list-style-type: disc;
    }

ol
{
    margin-left: 25px;
}

    ol li
    {
        list-style-type: decimal;
    }

#home ul, #home ul li, #home ol, #home ol li
{
    list-style-type: none;
    margin-left:     0px;
}

/* Code blocks */
pre
{
    border:      1px solid #ccc;
    border-left: 5px solid #ccc;
    line-height: 1.3;
    overflow:    auto;
}

    pre code
    {
        overflow: auto;
        padding:  8px;
    }

p code, li code
{
    background: #eee;
    border:     1px solid #ccc;
}

/* Blockquotes */
blockquote
{
    border-left: 1px dotted #000;
    font-style:  italic;
    padding:     5px 5px 5px 15px;
}

/* Top part of the website */
#top
{
    margin-top:    15px;
    margin-bottom: 15px;
}

    #top nav ul
    {
        margin: 0px auto;
        width:  315px;
    }

    #home #top nav ul
    {
        width: 190px;
    }

    #top nav ul li
    {
        display:         inline-block;
        list-style-type: none;
        margin-right:    15px;
    }

    #top nav ul li:last-child
    {
        margin-right: 0px;
    }

/* Center part of the website */
#content, #top
{
    width:  550px;
}
