[Unit]
Description=Personal website runnint at http://yorickpeterse.com/
After=postgresql.service
After=memcached.service

[Service]
Environment=RACK_ENV=none
WorkingDirectory=/srv/http/yorickpeterse.com
ExecStart=/usr/bin/bundle exec unicorn -E none -c config/unicorn.rb config.ru
StandardOutput=syslog
StandardError=inherit
SyslogIdentifier=yorickpeterse.com

[Install]
WantedBy=multi-user.target
