<header id="top">
    <nav>
        <ul class="clearfix">
            <li>
                <a href="<%= config[:base_url] %>">Homepage</a>
            </li>

            <li>
                <a href="<%= config[:feed_url] %>">Atom Feed</a>
            </li>
        </ul>
    </nav>
</header>
