%header.top
  %nav
    %ul.clearfix
      %li
        %a{ href: '/' }
          Homepage
      %li
        %a{ href: '/#header-articles' }
          Articles
      %li
        %a{ href: '/feed.xml' }
          Atom Feed
      %li
        %a{ href: '/resume' }
          Resume
