%header.top
  %nav
    %ul
      %li
        %a{ href: '/' }
          %i.icon-home
          Home
      %li
        %a{ href: '/#header-articles' }
          %i.icon-newspaper-o
          Articles
      %li
        %a{ href: '/feed.xml' }
          %i.icon-feed
          Atom Feed
      %li
        %a{ href: '/resume' }
          %i.icon-briefcase
          Resume
