%header.top
  %nav
    %ul.clearfix
      %li
        %a{ href: '/' }
          Homepage
      %li
        %a{ href: '/#header-articles' }
          Articles
      %li
        %a{ href: '/#header-notes' }
          Notes
      %li
        %a{ href: '/feed.xml' }
          Atom Feed
