---
name: Build and test
on: push

jobs:
  vale:
    name: Vale
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: errata-ai/vale-action@reviewdog
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          reporter: github-check
          vale_flags: '--no-wrap --sort'

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/inko-lang/inko:latest
    needs:
      - vale
    if: |
      github.ref_name == 'main'
    steps:
      - name: Install dependencies
        run: microdnf install --quiet --assumeyes make rclone
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        id: deploy
        with:
          path: |
            build
            ~/.local/share/inko/packages
          key: ${{ runner.os }}
      - name: Deploy
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: make deploy
